{{!-- 
<section class="card">
    <a href="/activity/{{id}}">
        <header>{{name}}</header>
        <img src="/images/{{activites.[0].filename}}" alt="{{activites.[0].description}}">
    </a>
</section> --}}

