<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/css/style.css">
    <title>Fitness Blog</title>
</head>

<body>
    <header>
        <img src="/public/images/fitneses_talk logo.png" alt="logo">
        <nav class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">My Work</a></li>
                    <li><a href="/">Login</a></li>
                </ul>
            </nav>
               <nav>
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav> 
    </header>

    <main>
        <aside>
            <h2>Welcome to our Fitness and Health Lifestyle Blog</h2>
        </aside>
        <div class="activity">
            {{{body}}}
        </div>
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>

