
{{#each activities as |activity|}}
<section class="card">
  <a href="/activity/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{activity.filename}}" alt="{{name}}" />
  </a>
</section>
{{/each}}
<button id="logout"> logout</button>
<script src="./js/logout.js"></script>