<h2>Stop Guessing and Stressing About How to Workout!</h2>
<p>Here are some popular workout excersises based on the category you selected. We highly encourage you to add your favorite workout that has helped you stay in shape.</p>

<div id="activity">

{{#each workouts as |workout|}}
{{> workout-details}}
{{/each}}

{{> addworkout-details}}
</div>
<script src='/js/addworkout.js'></script>

