.logoimg {
  width: 15rem;
  margin: 1rem;
}
.navbardiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  list-style-type: none;
}
.navlinks li {
  margin: 1rem;
}
.activity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}
.activity img {
  width: 22rem;
}

.login-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  border-radius: 5px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.loginsignup {
  margin: 0 auto;
}
.btn {
  margin: 0.5rem;
}
.activitycard {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  margin: 1rem;
  height: 26rem;
  padding: 0.5rem;
}
.workoutcard {
  width: 26rem;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  /* height: 33rem; */
}
.workoutcard a {
  text-align: center;
}
.workoutcard p {
  text-align: center;
}
.activitycard a {
  text-align: center;
}
.activitycard p {
  text-align: center;
}
.comments {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  background-color: blue;
  width: 70%;
  color: white;
}
