* {
  margin: 0;
  padding: 0;
}
main h2 {
  display: flex;
  justify-content: center;
  color: #1a1e24;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
}
.logoimg {
  width: 15rem;
  margin: 1rem;
}
.navbardiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  list-style-type: none;
  background-color: orange;
  border-radius: 5px;
  justify-content: center;
  margin-left:2rem;
  margin-right:2rem;
 padding: 1% 5%;
}
/* .navlinks li {
  margin: 1rem;
} */

.btn-login{
  background-color: rgb(255, 0, 0);
  border:0px;

}


.navlinks li a {
  font-weight: 700;
  font-style: italic;
  color: #1a1e24;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 18px;
  font-size: 1.125rem;
  /* margin-right: 60px; */
  position: relative;
  z-index: 2;
}
#activity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 100vw; 
}

p {
  text-align: center;
  font: 50px;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.activity img {
  width: 22rem;
}
.btn-custom{
  letter-spacing: 2px;
  background-color: #888888;
  border-radius: 10px;
  border: 15px solid rgb(255, 0, 0);
  padding: 3%;
}
.login-card {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  /* width: 70vw; */
  border-radius: 5px;
  background-image: linear-gradient(150deg,white,orange);
  margin: 5%;
  padding: 5%;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.loginsignup {
  margin: 0 auto;
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin: 0.5rem;
}
.activitycard {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  margin: 1rem;
  height: 26rem;
  padding: 0.5rem;
  font-weight: 200;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.workoutcard {
  width: 26rem;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  /* height: 33rem; */
}
.workoutcard a {
  text-align: center;
}
.workoutcard p {
  text-align: center;
}
.activitycard a {
  text-align: center;
}
.activitycard p {
  font-weight: 500;
}
.activitycarddiv {
  text-align: center;
}
.activitycarddiv div {
  font-weight: 400;
}

.new-workout-form {
  margin: 2rem;
}
.add-workout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(97, 186, 216);
  margin: auto;
  padding: 10px;
}

.intro h2{
  letter-spacing: 2px;
}
.intro:hover{
   letter-spacing : 4px
}

.intro p{
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

.homepage-images{
  transition: transform .2s;

}
.homepage-images:hover{
  transform: scale(1.5);
}